{% include 'navbar.html' %}

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-header bg-danger text-white">

            <h3>Frequently Reported Issues</h3>

        </div>

        <div class="card-body">

            <ul class="list-group">

                <li class="list-group-item">
                    Wi-Fi Connectivity Issue
                </li>

                <li class="list-group-item">
                    Projector Not Working
                </li>

                <li class="list-group-item">
                    Water Supply Problem
                </li>

                <li class="list-group-item">
                    Classroom Fan Issue
                </li>

                <li class="list-group-item">
                    Attendance Portal Error
                </li>

            </ul>

        </div>

    </div>

</div>

{% include 'footer.html' %}