{% include 'navbar.html' %}

<div class="container mt-5">

    <h2 class="mb-4">College Events</h2>

    <div class="row">
    <div class="col-md-4">
    <div class="card shadow">
    <div class="card-body">

    <h5>Hackathon 2026</h5>
    <p> Date: 20 July 2026 </p>
    <p> Location: Seminar Hall</p>

    </div>
    </div>
    </div>

        <div class="col-md-4">
        <div class="card shadow">
        <div class="card-body">

        <h5>Technical Fest</h5>
        <p>Date: 10 August 2026</p>
        <p>Location: Auditorium</p>

        </div>
        </div>
        </div>

        <div class="col-md-4">
        <div class="card shadow">
        <div class="card-body">

        <h5>Placement Drive</h5>

        <p> Date: 28 August 2026</p>

        <p> Location: Placement Cell</p>

        </div>
        </div>
        </div>
        </div>
</div>

{% include 'footer.html' %}