<div class="sidebar">

    <h4>Dashboard</h4>

    <ul>

        <li>
            <a href="/student/dashboard">Home</a>
        </li>

        <li>
            <a href="/feedback">Feedback</a>
        </li>

        <li>
            <a href="/complaint">Complaint</a>
        </li>

        <li>
            <a href="/notes">Notes</a>
        </li>

        <li>
            <a href="/doubts">Doubts</a>
        </li>

        <li>
            <a href="/analytics">Analytics</a>
        </li>

    </ul>

</div>